.vscode/
.idea/

.git/
.github/

test/
tests/
__tests__/

docs/
doc/

sandbox/
sample/
samples/
examples/

coverage/

.tmp/
temp/

logs/

node_modules/

dist-test/
out-test/

.vscode-test/

.nyc_output/

*.tgz
