.vscode/**
.github/**
.vscode-test
.vscode-test/**
.agent/**
.agents/**
docs/**
test/**
テスト/**
.gitignore
.gitmessage
.npmignore
.yarnrc
AGENTS.md
CONTRIBUTING.md
package-lock.json
**/jsconfig.json
**/*.map
**/eslint.config.mjs
**/.vscode-test.*
